<footer
  class="w-100 bg-info-subtle text-emphasis-info"
>
  <div class="container text-center py-2 fw-lighter fs-6">
    <div class="row">
      <div class="col" [class]="util.isMobile() ? 'fs-12': ''">@Touristy</div>
      <div class="col" [class]="util.isMobile() ? 'fs-12': ''">&copy; Copyright All rights reserved</div>
      <div class="col" [class]="util.isMobile() ? 'fs-12': ''">
        For more info contact
        <a href="mailto:hello@touristy" class="text-decoration-none"
          >Touristy</a
        >
      </div>
    </div>
  </div>
</footer>
